
//noinspection ALL
::ng-deep{
  nb-layout-column {
    background-color: #303030;

  }

  .layout-container .content .columns{
    background-color: #303030;
  }
}

.cart-page {
  background-color: #303030;

}

.product-cart {

  p {
    margin-bottom: 0;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #e5e5e5;
    padding: 0 5px;
  }
}

.products {
  align-items: center;
  justify-content: space-between;

  .left-content {
    display: flex;
    align-items: center;

    .cart-image {

      img {
        height: auto;
        max-width: 400px;
        width: auto;
      }

    }
  }

  .right-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    img {
      cursor: pointer;
    }

    .cart-count {
      display: flex;
      align-items: center;
      justify-content: space-between;

      p {

        padding: 0 30px;
      }

    }

    .cart-price {

      sup {

        top: -12px;
      }
    }

  }
}


.without-carts {
  margin: 0 7%;

  p {
    font-size: 28px;
    line-height: 40px;
    color: #e5e5e5;
    text-align: left;
    padding: 0 0 30px;
  }
}

@media (min-width: 991px) {
  .products {
    padding: 20px 30px;
  }
  .product-cart {
    margin: 0 7%;

  }
  .cart-image {

    img {
      max-height: 180px;
    }
  }

}

@media (max-width: 991px) {

  .products {
    padding: 20px;
  }
  .cart-image {

    img {
      max-height: 100px;
    }
  }

}

@media (min-width: 767px) {
  .products {
    margin: 20px auto 10px;
    width: 90%;

  }
  .left-content {
    justify-content: space-around;
    width: 40%;

  }
  .products {
    display: flex;

  }

  .right-content {
    width: 50%;

  }
}


@media (max-width: 767px) {
  .products {
    width: 100%;
  }
  .left-content {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
  }
}
