<div class="cart-page">
  <app-navbar-company [company_name]="value_language.CART" [way]="'products'" [value_language]="value_language"></app-navbar-company>

  <div class="product-cart" *ngIf="this.cookieService.get('countProducts')">
    <div class="product-content" *ngFor="let cart of cards; let i=index">
      <div class="products" *ngIf="displays[i]!==false">
        <div class="left-content">
          <div class="cart-image">
            <img *ngIf="cart.image.path !== null" src="{{cart.image.path | imageUrl}}">
            <img *ngIf="cart.image.path === null" src="https://coffeein.md/assets/img/images/no-image.png">
          </div>
          <div class="cart-title">
            <p>{{cart.title[lg].content}}</p>
          </div>
        </div>

        <div class="right-content">
          <div class="cart-description">
            <p>{{cart.mainDescription[lg].content.split('/')[0]}}</p>
          </div>

          <div class="cart-count">
            <img (click)="getDecrease(cart._id, i, cart.price)" src="https://coffeein.md/assets/img/icons/decrease.svg"
                 class="decrease">
            <p>{{counts[i]}}</p>
            <img (click)="getIncrease(cart._id, i, cart.price)" src="https://coffeein.md/assets/img/icons/increase.svg"
                 class="increase">
          </div>

          <div class="cart-price">
            <p>{{counts[i] * cart.price}}<sup>LEI</sup></p>
          </div>

          <div class="close-button">
            <img (click)="getCloseCart(cart._id, i, cart.price)"
                 src="https://coffeein.md/assets/img/icons/delete-item.svg">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="without-carts" *ngIf="!this.cookieService.get('countProducts')">
    <p>{{value_language.NO_PRODUCTS}}</p>
  </div>


  <app-send-popup *ngIf="this.cookieService.get('countProducts')" [price]="this.totalPrice" [value_language]="value_language"></app-send-popup>

  <app-footer></app-footer>
</div>
