<nb-layout>
  <nb-layout-header></nb-layout-header>
  <nb-sidebar>
    <nb-card-body>
      <nb-list>
        <nb-list-item *ngFor="let item of menu">
          <a [routerLink]="item.link"
             (click)="selected(item.link.split('/')[2])"
             [ngStyle]="{'color': item.link.split('/')[2] === select ? '#007bff' : ''}">{{ item.title }}</a>
        </nb-list-item>
      </nb-list>
      <button class="logOut-button" (click)="logout()" nbButton>LogOut</button>
    </nb-card-body>
  </nb-sidebar>
  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>
  <nb-layout-footer></nb-layout-footer>
</nb-layout>

