<div class="languages">
  <nb-card>
    <nb-card-header>
      Languages
    </nb-card-header>
    <nb-card-body>
      <button nbButton (click)="open(dialog)" status="primary">Add language</button>

      <div class="smart-table">
        <smart-table [dialog]="dialog" [columnsName]="columns" [edit]="true" [data]="response" [src]="'languages'"
                     [toast]="'Language'"></smart-table>

      </div>
    </nb-card-body>
    <nb-card-footer></nb-card-footer>

  </nb-card>
</div>

<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card class="dialog">

    <nb-card-header>Add language</nb-card-header>
    <nb-card-body>
      <div class="form-group">
        <label>Name</label>
        <label>
          <input type="text" class="form-control" placeholder="Name"
                 [(ngModel)]="object.name">
        </label>
      </div>
      <div class="form-group">
        <label>Slug</label>
        <label>
          <input type="text" class="form-control" placeholder="Slug: ro / en / ru"
                 [(ngModel)]="object.slug">
        </label>
      </div>
      <div class="footer-buttons">
        <button nbButton status="primary" (click)="onSubmit(); ref.close()" class="button">
          Submit
        </button>
        <button nbButton status="danger" (click)="ref.close()" class="button">Close</button>
      </div>
    </nb-card-body>
    <nb-card-footer></nb-card-footer>
  </nb-card>
</ng-template>



