.create-category {
  padding: 2.25rem 2.25rem .75rem;
}


.form-group {
  display: grid;
}

.dialog {
  width: 90vw;
  max-width: 600px;
  overflow: scroll;
  height: 80vh;
}

.button {
  margin: 10px 10px 10px 0;
}

.smart-table {
  margin-top: 20px;
}
