<div class="create-category">
  <nb-card>
    <nb-card-header>
      Product categories
    </nb-card-header>
    <nb-card-body>
      <button nbButton status="primary" (click)="open(dialog)">Add category</button>
      <div class="smart-table">
        <smart-table [dialog]="dialog" [columnsName]="columns" [edit]="true" [data]="response" [toast]="'Product category'"
                     [src]="'categories'"></smart-table>
      </div>
    </nb-card-body>
    <nb-card-footer></nb-card-footer>

  </nb-card>
</div>

<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card class="dialog">

    <nb-card-header>Add category</nb-card-header>
    <nb-card-body>
      <div class="form-group" *ngFor="let item of object.name">
        <label>Name {{item.shortName}}</label>
        <label>
          <input type="text" class="form-control" placeholder="Name {{item.shortName}}"
                 [(ngModel)]="item.content" >
        </label>
      </div>

      <div class="form-group" *ngFor="let item of object.description">
        <label>Description {{item.shortName}}</label>
        <label>
          <input type="text" class="form-control" placeholder="Description {{item.shortName}}"
                 [(ngModel)]="item.content">
        </label>
      </div>

      <div class="form-group">
        <label>Slug</label>
        <label>
          <input type="text" class="form-control" placeholder="Slug " [(ngModel)]="object.slug">
        </label>
      </div>
      <div class="form-group">
        <label>Order</label>
        <label>
          <input type="number" class="form-control" placeholder="Order" [(ngModel)]="object.range">
        </label>
      </div>
      <div class="footer-buttons">
        <button nbButton status="primary"
                (click)="onSubmit(); ref.close()"
                class="button">Submit
        </button>
        <button nbButton status="danger" (click)="ref.close()" class="button">Close</button>
      </div>
    </nb-card-body>
    <nb-card-footer>

    </nb-card-footer>
  </nb-card>
</ng-template>
