
.top-button {
  position: fixed;
  bottom: 80px;
  left: 30px;
  border-radius: 50%;
  padding: 10px 14px;
  box-shadow: 0 0 8px 0 #000;
  background: #303030;
  transform: rotate(90deg);
  cursor: pointer;
  z-index: 222222222222;
}

//noinspection ALL
::ng-deep {
  .nb-theme-default nb-layout .layout .layout-container .content .columns nb-layout-column {
    padding: 0;
    color: #edf1f7;
  }

  nb-layout-column{
    background-color: #303030;
  }


}

