    <nb-layout>
      <nb-layout-column>
        <router-outlet></router-outlet>

        <div class="top-button" id="top-button" *ngIf="this.isTop" (click)="getTopPage()">
          <img src="https://coffeein.md/assets/img/icons/arrow-left.svg">
        </div>
      </nb-layout-column>
    </nb-layout>

