<div class="footer">
  <div class="container">
    <div class="footer-contacts">
      <a [routerLink]="'/'">

        <div class="footer-logo">
          <img src="{{this.company_logo.logo.path | imageUrl}}" alt="">
        </div>
      </a>
      <div class="contacts">

        <div class="principal-contacts">
          <a href="tel:{{this.company_logo.phone}}">
            <div class="phone-footer">
              <img src="https://coffeein.md/assets/img/icons/phone.svg" alt="">
              <p>{{this.company_logo.phone}}</p>
            </div>
          </a>

          <a href="mailto:{{this.company_logo.mail}}">
            <div class="mail-footer">
              <img src="https://coffeein.md/assets/img/icons/mail.svg" alt="">
              <p>{{this.company_logo.mail}}</p>
            </div>
          </a>
        </div>
        <div class="media-footer">
          <div class="instagram">
            <a href="{{this.company_logo.instagram}}"> <img src="https://coffeein.md/assets/img/icons/instagram.svg"
                                                            alt=""></a>
          </div>
          <div class="youtube">
            <a href="{{this.company_logo.youtube}}"><img src="https://coffeein.md/assets/img/icons/youtube.svg" alt=""></a>
          </div>
          <div class="facebook">
            <a href="{{this.company_logo.facebook}}"> <img
              src="https://coffeein.md/assets/img/icons/facebook.svg" alt=""></a>
          </div>


        </div>
      </div>
    </div>

    <div class="footer-map">
      <div class="map">
        <app-map [name_map]="'map'" [display_popup]="true" [latitude]="latitude" [longitude]="longitude" [message]="map_data[0]"></app-map>

      </div>
    </div>
  </div>

  <div class="footer-message">
    <p>Developed with love by <span>LOOPIT</span></p>
  </div>
</div>
