
.footer {
  padding: 30px 0;
  background: #1a1a1a;
  color: #e5e5e5;

  .container {
    display: flex;
    flex-flow: wrap;
    max-width: 95%;
    align-items: center;
    justify-content: space-between;

    .footer-contacts {
      margin: auto;
    }

    .footer-map {
      margin: auto;


      .map {
        margin-top: 20px;
      }

    }


  }


}

.footer-message {
  text-align: center;
  padding-top: 30px;

  p {
    line-height: normal;
    color: #e5e5e5;
  }

  span {
    font-size: 20px;
    color: #e5e5e5;
    font-weight: 700;
  }
}

.contacts {


  .principal-contacts {

    .phone-footer, .mail-footer {
      display: flex;
      padding-bottom: 12px;
      align-items: center;

      img {
        padding-right: 12px;
      }

      p {
        margin-bottom: 0;
        font-size: 18px;
        color: #e5e5e5;
        line-height: 160%;
      }
    }

  }

  .media-footer {
    display: flex;

    img {
      margin: 0 8px;
    }
  }
}

//noinspection ALL
::ng-deep {
  .nb-theme-default {
    a {
      text-decoration: none;
    }
  }
}

@media (min-width: 776px) {
  .principal-contacts {
    border-right: 1px solid hsla(0, 0%, 100%, .5);
    padding-right: 60px;

  }
  .contacts {
    display: flex;
    align-items: center;
  }
  .media-footer {
    padding-left: 60px;
  }
  .footer-logo {
    padding-bottom: 50px;

  }
  .footer {
    margin: 50px;
  }
  .footer-message {

    p {
      font-size: 20px;
    }
  }
  .footer-map {
    width: 600px;
  }
}

@media (max-width: 991px) {
  .footer-logo {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 776px) {
  .principal-contacts {
    border-bottom: 1px solid hsla(0, 0%, 100%, .5);

  }
  .media-footer {
    justify-content: space-between;
    margin-top: 20px;
  }
  .footer-logo {
    padding-bottom: 30px;

  }
  .footer {
    margin: 20px;
  }
  .footer-message {

    p {
      font-size: 16px;
    }
  }
  .footer-map {
    width: 100%;
  }
}

