<div class="companies-page">
  <div class="navbar">
    <div class="logo">
      <div class="navbar-logo" *ngFor="let item of docs">
        <img src="{{item.logo.path | imageUrl}}" (click)="getCompany(item.slug)">
      </div>
    </div>
    <div class="end-navbar">
      <div class="contact">
        <a href="tel:{{this.phone}}">{{this.phone}}</a>
      </div>
      <div class="select-language">
        <nb-select [selected]="this.language">
          <nb-option *ngFor="let item of languages" value="{{item}}" (click)="getLanguage(item)">{{item | uppercase}}
          </nb-option>
        </nb-select>
      </div>
      <div class="products-navbar">
        <a (click)="getCart()">
          <div class="navbar-cart">
            <img src="../../../assets/Vector.png">
            <sup *ngIf="this.nr_products !== 0">{{this.nr_products}}</sup>
          </div>


        </a>
      </div>
    </div>
  </div>

  <div class="companies-content">
    <div class="medium-display-slogan">
      <p>{{this.docs[0].slogan[lg].content}}</p>
    </div>
    <div class="companies">

      <div class="coffeein">
        <div class="small-display-slogan">
          <p>{{this.docs[0].slogan[lg].content}}</p>
        </div>
        <div class="company-image-medium">
          <img src="{{this.docs[0].mainProductImage.path | imageUrl}}">
        </div>
        <div class="coffeein-data">
          <div class="coffein-buttons">
            <div class="large-display-slogan">
              <p>{{this.docs[0].slogan[lg].content}}</p>
            </div>
            <a href="tel:{{this.phone}}">
              <div class="command-fast">
                <img src="../../../assets/phone.png">
                <p>{{value_language.FAST_ORDER}}</p>
              </div>
            </a>
            <div class="button-company">
              <button [ngStyle]="{'background': this.docs[0].color}"
                      (click)="getCompany(this.docs[0].slug)">{{value_language.NAV_TEXT}} {{this.docs[0].slug | uppercase}}</button>
            </div>
          </div>
          <div class="contacts">
            <a href="{{this.docs[0].facebook}}"><img src="../../../assets/facebook.png"
                                                     class="facebook"></a>
            <a href="{{this.docs[0].instagram}}"><img src="../../../assets/instagram.png"
                                                      class="instagram"></a>
          </div>
        </div>
        <div class="company-image-large">
          <img src="{{this.docs[0].mainProductImage.path | imageUrl}}">
        </div>
      </div>
      <div class="apetit">
        <div class="slogan-apetit">
          <p>{{this.docs[1].slogan[lg].content}}</p>
        </div>
        <div class="company-image-apetit">
          <img src="{{this.docs[1].mainProductImage.path | imageUrl}}">
        </div>

        <div class="apetit-content">
          <div class="apetit-data">
            <div class="contacts-small-display">

              <a href="{{this.docs[1].facebook}}"><img src="../../../assets/facebook.png"
                                                       class="facebook"></a>
              <a href="{{this.docs[1].instagram}}"><img src="../../../assets/instagram.png"
                                                        class="instagram"></a>
            </div>
            <div class="apetit-buttons">

              <a href="tel:{{this.docs[1].phone}}">
                <div class="command-fast-apetit">
                  <img src="../../../assets/phone.png">
                  <p>{{value_language.FAST_ORDER}}</p>
                </div>
              </a>
              <div class="button-company-apetit">
                <button [ngStyle]="{'background': this.docs[1].color}"
                        (click)="getCompany(this.docs[1].slug)">{{value_language.NAV_TEXT}} {{this.docs[1].slug | uppercase}}</button>
              </div>
            </div>
          </div>
          <div class="contacts-apetit">
            <a href="{{this.docs[1].facebook}}"><img src="../../../assets/facebook.png"
                                                     class="facebook"></a>
            <a href="{{this.docs[1].instagram}}"><img src="../../../assets/instagram.png"
                                                      class="instagram"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
