<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card>
    <div class="popup">
      <div class="popup-title">
        <p>{{value_language.COMPLETE_ORDER_1}}</p>
        <p>{{value_language.COMPLETE_ORDER_2}}</p>
      </div>
      <form [formGroup]="registerForm" (ngSubmit)="showToast('top-right', 'success')">


        <div class="personal-contacts">
          <div class="personal-phone">
            <div class="phone-title">
              <p>{{value_language.PHONE}} <span>({{value_language.REQUIRED}})</span></p>
            </div>
            <div class="phone-input">
              <div class="country-phone">
                <img src="https://coffeein.md/assets/img/icons/moldova-icon.svg">
                <p>+373</p>
              </div>
              <label>
                <input nbInput [placeholder]="'0000-0000'" type="number" formControlName="phone"
                       [ngClass]="{ 'is-invalid': submitted && f.phone.errors }">
                <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                  <div *ngIf="f.phone.errors.required">{{value_language.REQUIRED_PHONE}}</div>
                </div>


              </label>
            </div>
          </div>


          <div class="personal-name">
            <div class="name-title">
              <p>{{value_language.NAME}}</p>
            </div>

            <div class="name-input">
              <label>
                <input nbInput [placeholder]="value_language.NAME_PLACEHOLDER" formControlName="fullName" type="text">
              </label>
            </div>
          </div>
        </div>
      </form>


      <div class="totalPrice">
        <p>{{value_language.TOTAL}}{{price}}<sup>lei</sup></p>
      </div>

      <div class="share_location">
        <nb-checkbox (checkedChange)="toggle($event)"
                     (click)="getLocation()">{{value_language.SHARE_LOCATION}}</nb-checkbox>

        <div class="popup-map">
          <div class="map">
            <app-map *ngIf="share_location===false" [name_map]="'map2'" [display_popup]="false" [latitude]="lat"
                     [longitude]="long" [message]="''"></app-map>
            <app-map *ngIf="share_location===true" [name_map]="'map3'" [display_popup]="true" [latitude]="this.latitude"
                     [longitude]="this.longitude" [message]="'Your location is here!'"></app-map>
          </div>
        </div>
      </div>

      <div class="finish-order" (click)="registerForm.valid ? showToast('top-right', 'success') : ''; registerForm.valid ? ref.close() : ''">
        <p>{{value_language.FINISH_ORDER}}</p></div>
      <div class="close-popup" (click)="ref.close()">
        <img src="https://coffeein.md/assets/img/icons/delete-item.svg" alt="error">
      </div>
    </div>
  </nb-card>
</ng-template>
<div class="send-popup" (click)="open(dialog)">
  <p>{{value_language.FINISH_ORDER}}</p>
</div>
