<a (click)="getCompany(slug)" *ngIf="totalPrice !== 0">
  <div class="product-popup" [ngStyle]="{'display': this.display === false ? 'none' : 'block'}">
    <div class="popup-content" [ngStyle]="{'background-color': color}">
      <p class="finish-command">{{value_language.FAST_ORDER}}</p>
      <div class="total-price">
        <p class="total">Total:</p>
        <p class="price">{{totalPrice}} <sup>LEI</sup></p>
      </div>
    </div>
    <div class="nr-products"
         [ngStyle]="{'border': '1px solid' + color, 'color': color}">{{countProducts}}</div>

  </div>
</a>
