
.slider-background {
  background: #1a1a1a;
  filter: drop-shadow(0 30px 10px #000000);
  background-image: url("../../../assets/bg2.png");
  background-size: 485px 100%;
  background-repeat: no-repeat;
  background-position: 65% -1px;
}

.slick-content {
  justify-content: space-between;
  align-items: center;

  .slick-promotion {


    .promotion-title {
      p {
        margin-bottom: 0;
        font-size: 36px;
        line-height: 42px;
        color: #c4c2c2;
        padding-bottom: 30px;
      }
    }

    .promotion-description {
      p {
        //noinspection ALL
        ::ng-deep {
          p {
            font-size: 18px;
            line-height: 24px;
            color: #c4c2c2;
            margin-bottom: 40px;
          }
        }
      }
    }

  }

  .slick-image {
    justify-content: space-between;
    align-items: center;


    .slick-description {

      //noinspection ALL
      ::ng-deep {
        p, h2 {
          margin-bottom: 0;
          color: #c3c2c2;
        }
      }
    }
  }


}


//noinspection ALL
::ng-deep {
  .slick-active {
    li {
      background: #2a6028;
      border: 1px solid #c3c2c2;
      box-sizing: border-box;
    }
  }

  .slick-dots {

    display: flex;

    .slick-active {
      background: #2a6028;
      border: 1px solid #c3c2c2;
    }

    li {
      width: 12px;
      height: 12px;
      background: #c3c2c2;
      border-radius: 50%;
      margin: 0 3px;


      button {
        &:before {
          content: none;
        }
      }
    }


  }

  .slick-prev, .slick-next {
    &:before {
      background: transparent;
      border-radius: 50%;
      border: 2px solid;
      color: #fff;
      font-family: cursive;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 32px;
      line-height: 50px;
      width: 35px;
      height: 35px;
      padding-bottom: 5px;
    }
  }

  .slick-prev {
    margin-left: -35px;

    &:before {
      content: "<";
    }
  }

  .slick-next {
    margin-right: -35px;

    &:before {
      content: ">";
    }
  }
}

@media (min-width: 991px) {
  .slick-image {
    width: 47%;

  }
  .slick-promotion {
    max-width: 44%;
    margin-left: auto;
    margin-right: auto;
  }
  .slider-background {
    margin-top: 50px;
    border-radius: 30px;
  }

}

@media (min-width: 1400px) {

  .slick-content {
    display: flex;

  }
  .slick-image {
    img {
      padding: 15px;
      width: 18vw;
    }
  }
  .slider-background {
    padding: 50px 100px;
  }
  .slick-image {
    display: flex;
  }
  .slick-description {
    width: 30%;

  }
}

@media (max-width: 1400px) {


  .slider-background {
    padding: 30px;
  }
  .slick-image {
    display: block;

  }

}

@media (max-width: 1400px) and (min-width: 991px) {
  .slick-description {
    padding-left: 50px;
  }
  .slick-image {

    img {
      max-width: 280px;
      padding: 15px;
      width: 100%;
    }
  }
  .slick-content {
    display: flex;
  }

}

@media (max-width: 991px) {
  .slick-description {
    margin-left: 35%;
  }
  .slick-image {
    width: 100%;

    img {
      max-width: 280px;
      margin: auto;
      padding: 15px;
    }
  }
  .principal-slider {
    padding: 0 140px 80px;
  }
  .slick-content {
    display: grid;
  }
}

@media (max-width: 767px) {
  .principal-slider {
    padding: 0;
  }
}






