<div class="main-company">
  <div class="company">
    <app-navbar-company [company_name]="value_language.NAV_TEXT" [value_language]="value_language"
                        [way]="''"></app-navbar-company>


    <div class="select-products">
      <div class="categories">
        <button class="all-button"
                (click)="selectCategory('all')"
                [ngStyle]="{'background': this.slug === 'all' ? this.color : '', 'border': this.slug === 'all' ? '2px solid' + this.color : ''}"
        >{{value_language.ALL}}
        </button>
        <div class="categories-button" *ngFor="let item of categories">
          <button class="category-button"
                  (click)="selectCategory(item.slug)"
                  [ngStyle]="{'background': this.slug === item.slug ? this.color : '', 'border': this.slug === item.slug ? '2px solid' + this.color: ''}"

          >{{item.name[lg].content}}
          </button>
        </div>
      </div>
      <div class="search-products">
        <input type="text" nbInput placeholder="{{value_language.SEARCH}}" [(ngModel)]="this.search_value"
               (change)="getSearchValue(this.search_value)">
        <img src="https://coffeein.md/assets/img/icons/search-icon.svg">
      </div>
    </div>

    <div class="products">
      <div class="categories-products" *ngFor="let item of products">
        <h1 *ngIf="item.category.slug === this.slug || this.slug === 'all'">{{item.category.name[lg].content}}</h1>
        <div class="company-products" *ngIf="item.category.slug === this.slug || this.slug === 'all' ">
          <div class="selected-products" *ngFor="let product of item.products">
            <div class="image-product">
              <img *ngIf="product.image.path !== null" src="{{product.image.path | imageUrl}}">
              <img *ngIf="product.image.path === null" src="https://coffeein.md/assets/img/images/no-image.png">
            </div>

            <div class="product-description">
              <div class="product-title">
                <p>{{product.title[lg].content}}</p>
              </div>
              <div class="product-mini-description" (mouseover)="hoverDescription(product._id)"
                   (mouseleave)="hideDescription()">
                <div class="description">
                  <p *ngIf="product.mainDescription[lg].content !== '' "
                     [innerHTML]="product.mainDescription[lg].content" class="mini-description"></p>
                  <div class="product-main-description"
                       *ngIf="product.mainDescription[lg].content !== '' && isShow && this.id === product._id">
                    <div [innerHTML]="product.description[lg].content" class="main-description"></div>
                  </div>
                </div>
              </div>


            </div>

            <div class="buy-product">
              <div class="product-price">
                <p>{{product.price}} <sup>lei</sup></p>
              </div>

              <div class="product-cart">
                <button class="cart-button" [ngStyle]=" {'background-color': this.color} "
                        (click)="getWholePrice(product.price); getProductCart(product._id)">{{value_language.TO_CART}}
                  <img
                    src="https://coffeein.md/assets/img/icons/store.svg"></button>
              </div>
            </div>


          </div>

        </div>
      </div>

      <app-product-popup [color]="this.color" [countProducts]="this.nr_products" [totalPrice]="this.whole_price"
                         [slug]="this.company_slug[2]" [value_language]="value_language"></app-product-popup>
      <div class="without-products" *ngIf="this.products_length === 0">
        <p>Nu au fost gasite produse! Incercati o alta categorie!</p>
      </div>
    </div>

  </div>

  <app-footer></app-footer>
</div>






