.main-company {
  background-color: #303030;

}

.select-products {
  display: flex;
  padding: 0 7% 20px;
  justify-content: space-between;

  .categories {
    display: flex;
    flex-flow: wrap;

    button {
      min-width: 100px;
      padding: 7px 10px;
      color: #eae9e9;
      font-size: 16px;
      background: #303030;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      border: 2px solid #e5e5e5;
      filter: drop-shadow(4px 8px 6px rgba(0, 0, 0, .5));
    }
  }

  .search-products {
    margin-top: 20px;
    position: relative;

    input {
      cursor: pointer;
      font-size: 16px;
      height: auto;
      border-radius: 8px;
      filter: drop-shadow(4px 8px 6px rgba(0, 0, 0, .5));
      background: #303030;
      color: #bfbfbf;
      padding-right: 40px;
    }

    img {
      position: absolute;
      top: 12px;
      margin-left: -30px;
    }
  }
}

.products {
  p, h1 {
    color: #c3c2c2;
  }
}

.without-products {
  padding: 0 7%;

  p {
    font-size: 28px;
    line-height: 40px;
    color: #e5e5e5;
    padding: 0 0 30px;
  }
}


.categories-products {


  h1 {
    text-align: center;
    padding: 70px 0;
    font-weight: 400;
    color: #e5e5e5;
    font-size: 28px;

  }
}

.company-products {
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  padding: 0 7%;


  .selected-products {
    min-width: 405px;
    padding: 20px;
    margin-bottom: 40px;

    .image-product {

      img {
        height: 200px;
        display: flex;
        margin: auto;
        width: auto;
      }
    }
  }
}

.product-description {

  .product-title {

    p {
      font-size: 24px;
      text-align: center;
      color: #e5e5e5;
      margin: 13px auto 20px;
    }
  }

  .mini-description {

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #e5e5e5;
    margin-bottom: 20px;
    text-align: center;
    cursor: pointer;

  }
}

.buy-product {
  display: flex;
  padding: 12px 20px;
  justify-content: space-between;

  .product-price {
    position: relative;

    p {
      font-weight: 700;
      font-size: 42px;
      line-height: 53px;
      color: #e5e5e5;
    }

    sup {
      font-size: 16px;
      transform: translate(8px, 20px);
      position: absolute;
    }
  }

  .product-cart {

    button {
      box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
      border-radius: 5px;
      border: none;
      color: #e5e5e5;
      font-size: 20px;
      line-height: 28px;
      padding: 10px 15px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      min-width: 150px;
      cursor: pointer;
    }
  }
}

.product-main-description {
  transform: translateX(13%);
  height: auto;
  width: 288px;
  position: absolute;
  background: #303030;
  border: 2px solid #e5e5e5;
  z-index: 100000;
  border-radius: 10px;
  filter: drop-shadow(4px 8px 15px rgba(0, 0, 0, .5));
  padding: 25px 24px;
  margin-top: -20px;

  .main-description {

    //noinspection ALL
    ::ng-deep {
      nb-layout-column {
        background-color: #303030;

      }
      p {
        color: #e5e5e5;
        cursor: text;
        margin-bottom: 0;
      }
    }

  }

}


//noinspection ALL
::ng-deep {
  .nb-theme-default [nbInput].size-medium:not(.input-full-width) {
    max-width: none;
  }
}

@media (min-width: 767px) {
  .categories {

    button {
      margin: 20px 30px 0 0;
    }
  }
}

@media (max-width: 1200px) {
  .select-products {
    flex-direction: column-reverse;
    align-items: flex-start;

    button {
      padding: 10px 0 20px;
    }


  }
}

@media (max-width: 767px) {
  .categories {
    padding: 10px 0 20px;

    button {
      margin: 10px 10px 0 0;
    }
  }
  .search-products {
    width: 100%;

    input {
      width: 100%;
    }
  }
}

