.flex-centered {
  margin: auto;
}

//noinspection ALL
::ng-deep {
  nb-card-body {
    display: flex;
  }

  nb-layout-column {
    background-color: white;

  }

  .nb-theme-default nb-card {
    border: none;
  }
}


.title {
  text-align: center;
}

.sub-title {
  text-align: center;
  display: block;
  margin-bottom: 3rem;
}

.home-button {
  margin-bottom: 2rem;
}
