<div class="navbar">
  <a [routerLink]="'/'">
    <div class="logo-company">
      <img src="{{this.company_logo.logo.path | imageUrl}}">
    </div>
  </a>
  <div class="title">
    <p>{{company_name}}</p>
  </div>
  <div class="company-number">
    <a href="tel:{{this.company_logo.phone}}">{{this.company_logo.phone}}</a>
  </div>
  <a href="tel:{{this.company_logo.phone}}" class="company-number-link">
    <div class="company-number-image">
      <button nbButton><img src="https://coffeein.md/assets/img/icons/phone.svg"></button>
    </div>
  </a>
</div>

<div class="navbar-line"></div>


<div class="back-company">
  <a (click)="getCompanyProducts(way)">
    <button><img class="back-img" src="https://coffeein.md/assets/img/icons/arrow-left.svg"> {{value_language.BACK}}
    </button>
  </a>
</div>
