
.navbar {
  padding: 5px 7%;
  margin: auto;
  height: 70px;
  background-color: #1a1a1a;
  display: flex;
  align-items: center;


  .logo-company {
    img {
      width: auto;
      max-width: 20vw;
      max-height: 50px;
      height: auto;
    }
  }

  .title {
    p {
      font-size: 22px;
      color: #e5e5e5;
      margin-bottom: 0;
    }
  }

  .company-number {
    a {
      font-size: 22px;
      color: #e5e5e5;
      text-decoration: none;
    }
  }

}

.navbar-line {
  height: 10px;
  width: 100%;
  background: #60514a;
}

.back-company {
  padding: 0 7%;
  margin-bottom: 10px;
  width: 100px;
  margin-top: 40px;
  height: auto;

  button {
    height: auto;
    width: 100px;
    padding: 7px 10px;
    background: #60514a;
    border-radius: 8px;
    color: #eae9e9;
    font-size: 16px;
    display: flex;
    align-items: center;
    border: none;
    filter: drop-shadow(4px 8px 6px rgba(0, 0, 0, .5));

    .back-img {
      padding-right: 10px;
    }
  }


}

//noinspection ALL
::ng-deep {
  .nb-theme-default [nbButton].appearance-filled.status-basic {
    border-radius: 8px;
    background: #106e18;
    padding: 7px;
    border: none;
    width: 50px;
    height: 50px;

    &:hover {
      background: #106e18;
    }
  }
}

@media (min-width: 767px) {
  .company-number-link {
    display: none;
  }
  .company-number {
    display: block;
  }
}

@media (max-width: 767px) {
  .company-number {
    display: none;
  }
  .company-number-link {
    display: block;
  }
}



